@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-mono: "Fira Code", monospace;
  --font-sans: "Inter", sans-serif;

  --animate-shine: shine 3s ease-in-out infinite;
  --animate-blob: blob 30s infinite;

  @keyframes shine {
    from {
      transform: translateX(-200%) skewX(12deg);
    }

    to {
      transform: translateX(200%) skewX(12deg);
    }
  }

  @keyframes blob {
    0% {
      transform: translate(0px, 0px) scale(1);
    }

    33% {
      transform: translate(30px, -50px) scale(1.1);
    }

    66% {
      transform: translate(-20px, 20px) scale(0.9);
    }

    100% {
      transform: translate(0px, 0px) scale(1);
    }
  }
}

/* Utilities for animation delays */
.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}

:root {
  --background: #0f172a;
  /* Slate 900 - Dark theme base */
  --foreground: #60a5fa;
  /* Slate 200 */
  --primary: #38bdf8;
  /* Sky 400 */
  --secondary: #94a3b8;
  /* Slate 400 */
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #475569;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}